<script src="https://giscus.app/client.js"
        data-repo="mbtamuli/mbtamuli.github.io"
        data-repo-id="R_kgDOIRRtqw"
        data-category="Announcements"
        data-category-id="DIC_kwDOIRRtq84CSHLx"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light_protanopia"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

<script>
        var theme = localStorage.getItem('appearance') == 'light' ? 'light' : 'dark_dimmed';
        document.querySelector('script[src="https://giscus.app/client.js"]').setAttribute('data-theme', theme);
</script>
